<div class="row">
  <h1 class="col s12">Register New User</h1>
  <%= form_tag '/users', method: :post do %>
    <div class="signup-form">
      <div>
        Name: <input type="text" name="name">
      </div>
      <div>
        Email: <input type="email" name="email">
      </div>
      <div>
        Password: <input type="password" name="password">
      </div>
      <div>
        Confirm Password: <input type="password" name="password_confirmation">
      </div>
      <% if current_user && current_user.admin %> 
        <div class="admin-checkbox col s12">
          <div>
            Set as Admin?
          </div>
          <div>
            <p class="col s3">
              <input type="hidden"  name="admin" value="false" />  <!-- sets admin to false by default -->
              <input type="checkbox" name="admin" class="filled-in" id="admin-option" value="true" />
              <label for="admin-option">Yes</label>
            </p>
          </div>
        </div>
      <% end %>
      <div class="col s3"> 
        <input type="submit" class="btn" value="Add User">
      </div>
        <% end %>
        <div>
        <% if current_user && current_user.admin %>
          <a href="/admin" class="normal-link">Cancel</a>
        <% else %>
          <a href="/" class="normal-link">Cancel</a>
        <% end %> 
      </div>
    </div>
</div>