<div class="row">
  <div class="col 8 offset-s3">
    <h1>Add New Menu Item</h1>
  </div>
  <%= form_tag "/items", method: :post do %>
    <%= render "form", url: "/items" %>
    <div class="col s12">
      <input class="btn" type="submit" value="Add Item">
    </div>
  <% end %>
  <a href="/admin" class="normal-link col s12">Cancel</a>
</div>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>