html, body, h1, h2, h3, h4, p, div, ul, ol, li {
/*  padding: 0;
  border: 0;
  margin: 0;*/
  font-size: 100%;
}

.container {
  width: 85% !important;
}

body {
  background: rgb(108,108,108);
  background: linear-gradient(100deg, rgba(108,108,108,1) 10%, rgba(0,0,0,1) 100%);
  /*background-image: url("/assets/background.png");*/
  /*background-image: image-url("<%= asset_path('background.png') %>");*/
 /* background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;*/
}

h1, h2, h3, h4, h5, h6, p, li {
  color: white;
}

a:link.normal-link {
  color: #4db6ac;
}

a:visited.normal-link {
  color: #4db6ac;
}

h1 {
  font-size: 70px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

.menu {
  font-family: "Lucida Console", Monaco, monospace;
}

.flash {
  color: red;
}

.items {
  text-align: center;
}

.item {
  margin-bottom: 50px;
}

.course {
  margin-bottom: 50px;
}

.menuHeading {
  margin-bottom: 80px;
}

.category {
  margin-bottom: 75px;
}

.card-quantity {
  float: left;
}

.card-link {
  float: left;
}

.navbar-fixed {
  opacity: 0.8;
}

.quantity-box {
  margin: auto;
  color: white;
}

.quantity-select {
  width: 20%;
  margin: auto;
  text-align: center;
}

.select-wrapper input.select-dropdown {
  text-align: center;
}

.brand-logo {
  color: teal;
}

.order-buttons {
  margin-bottom: 20px;
}

.order-panel {
  background-color: black;
  opacity: 0.7;
  border-radius: 25px;
  margin-top: 80px;
  text-align: center;
  overflow-y: scroll;
}

#aqua-text {
  color: #4db6ac;
}

.trash-icon {
  font-size: 6rem;
}

#error-explanation li {
  color: red;
}

.textarea.materialize-textarea {
  background-color: white;
}

.category-box {
  color: white;
}

.add-btn {
  margin-top: 20px;
}

.divider {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-title {
  text-align: center;
}

.card .card-content {
  height: 150px;
  margin-top: 20px;
}


#card-description {
  text-align: center;
}

#card-price {
  text-align: right;
}

#card-menu {
  text-align: center;
  color: #4db6ac;
}

#add-item-button {
  margin-bottom: 30px;
}

.admin-category {
  text-align: center;
}

#menu-category {
  text-align: center;
}

.form-component {
  color: white;
}

.form-elements {
  margin-top: 50px;
  margin-bottom: 50px;
}


.description-area {
  height: 75px;
  background-color: #404040;
  opacity: 0.9;
}

/*SIGNUP FORM*/

.signup-form {
  color: white;
  width: 75%;
  margin: auto;
}

.admin-checkbox {
  margin-bottom: 50px;
}


/*ADMIN PAGE*/

#register-user-button {
  margin-top: 15px;
}

/*EDIT CARTED ITEMS*/
.edit-cart {
  text-align: center;
}